$BlackColor: #000000;
$textWeight: 700;
$marginTop: 30px;
$marginLeft: 50px;
$textSize: 30px;
$ProductsRenderingStyle: inline-block;

.pHeading {
    font-size: $textSize;
    color: $BlackColor;
    font-weight: $textWeight;
    margin-top: $marginTop;
    margin-left: $marginLeft;
    //this is temporary
    // border: 1px solid black;
}

.pImage {
    width: 300px;
    height: 320px;
    // border: 1px solid black;
    margin-top: 0px !important;
    cursor: pointer;
}
.pImage:hover {
    box-shadow: 1px 2px 0.5px 0.5px grey;
    transition: 1s linear;
}
.pTextStyle {
    padding: 0px;
    font-size: 24px;
    // border: 1px solid black;
    text-align: center;
    height: auto;
    width: 300px;
    position: absolute;
}
.pTextStyle:hover {
    // font-size: 18.5px;
    cursor: pointer;
    transition: 0.5s linear;
    transform: scale(1.05);
}
.AllProductsContainer {
    display: $ProductsRenderingStyle;
    // border: 1px solid rgb(219, 12, 12);
    height: auto;
}
.SingleProduct {
    margin-left: 20px;
    margin-top: 12px;
    border: 1px solid rgb(180, 180, 180);
    width: fit-content;
    height: 450px !important;

}

//For mobile and tablets
@media all and (max-width: 500px) {
    .pHeading {
        font-size: 25px;
        padding-right: 10px;
        margin-left: 5%;
        margin-top: 5px !important;
        //this is temporary
        // border: 1px solid black;
    }
    .SingleProduct {
        margin-left: initial;
        // border: 1px solid black;
        width: auto;
        margin-top: 14px;
        height: auto !important;
    }
    .pTextStyle {
     position: relative;
     width: initial;
    }
    .pImage {
        width: 100% !important;
    }
}
@media all and (max-width: 320px) {
    .SingleProduct {
        margin-left: -10px !important;
        // border: 1px solid black;
        width: 100%;
    }
    .pImage,
    .pTextStyle {
        padding-right: 0% !important;
    }
}
@media all and (max-width: 305px) {
    .SingleProduct {
        margin-left: -20px !important;
        // border: 1px solid black;
        width: 100%;
    }
}
