$BlackColor: #000000;
$textWeight: 700;
$marginTop: 30px;
$marginLeft: 50px;
$textSize: 30px;
$ProductsRenderingStyle: inline-block;

.pHeading {
    font-size: $textSize;
    color: $BlackColor;
    font-weight: $textWeight;
    margin-top: $marginTop;
    margin-left: $marginLeft;
    //this is temporary
    // border: 1px solid black;
}

.AllProductsContainer {
    display: $ProductsRenderingStyle;
    // border: 1px solid rgb(219, 12, 12);
    height: auto;
}
//For mobile and tablets
@media all and (max-width: 500px) {
    .pHeading {
        font-size: 25px;
        padding-right: 10px;
        margin-left: 5%;
        //this is temporary
        // border: 1px solid black;
    }
}
// @media all and (max-width: 320px) {
// }