$DarkColor: #000000;
$GreyColor: #e4e2fc;

.NavHeader {
    height: 55px;
    background-color: $GreyColor;
}
.RightArrow
{
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.navheader-text {
    color: $DarkColor !important;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 55px;
    cursor: pointer;
}
.navTextDiv {
    padding-left: 40px;
}
@media all and (max-width: 600px) {
    .NavHeader {
        height: 80px;
        line-height: 30px;
    }
    .navheader-text {
        line-height: initial;
        cursor: pointer;
        // border: 1px solid black;
    }
    .navTextDiv {
        padding-top: 10px !important;
    }
}
